.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  object-fit: cover;
  max-height: 520px;

}
.columns > div > div:not(.columns-img-col) p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;

@media (width >= 900px) {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > div:not(.columns-img-col) p:nth-of-type(1) {
  font-size: 24px;
  line-height: 32;
  }
}
